footer {
    background-color: var(--fourth-color);
    margin-top: 40px;
}

.footer-upper-part {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.store-socials {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 320px;
}

.our-socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.our-socials img {
    width: 24px;
    transition: all 0.3s ease;
}

.our-socials img:hover {
    scale: 1.1;
    cursor: pointer;
}

