main {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.main-container {
    background: url(../images/banner-principal.png) no-repeat center 65%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 600px;
    padding: 60px;
    gap: 40px;
    border-radius: 12px;
}

.main-container h1 {
    font-size: 48px;
}

.main-container h3 {
    color: var(--third-color);
    text-transform: uppercase;
}

.main-container p {
    color: var(--second-color);
}

.main-container h3,
.main-container p {
    font-size: 16px;
}

.see-products {
    background-color: var(--third-color);
    color: var(--second-color);
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 600;
    max-width: fit-content;
    padding: 14px;
    border-radius: 8px;
    border: none;
    transition: all 0.3s;
}

.see-products:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: var(--third-color) 0px 4px 12px;
}

.deliver-infos {
    display: flex;
    gap: 32px;
}

.deliver-fast,
.deliver-security,
.deliver-guarantee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: default;
}

.deliver-fast img,
.deliver-security img,
.deliver-guarantee img {
    width: 40px;
}

.products-menu {
    display: grid;
    width: 1500px;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 24px;
    justify-content: center;
}

.product {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 420px;
    border-radius: 24px;
    padding: 24px 20px 28px;
    gap: 24px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-8px);
}

.product img {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
}

.product h2 {
    color: var(--second-color);
    font-size: 24px;
    text-align: center;
}

.product span {
    color: var(--third-color);
    font-weight: 600;
    cursor: pointer;
}

.product img {
    object-fit: contain;
    object-position: center;
    background-color: transparent;
}

.best-sellers-banner {
    display: flex;
    width: 1500px;
    justify-content: space-between;
    align-items: flex-end;
}

.best-sellers-banner h2 {
    color: var(--second-color);
    font-size: 32px;
    margin-top: 8px;
}

.best-sellers-banner .best-sellers-left .highlight-products {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.best-sellers-banner .see-all {
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.best-sellers-banner .see-all:hover {
    transform: translateY(-4px);
}

.best-sellers-row {
    margin-top: 20px;
    display: grid;
    width: 1500px;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 24px;
    justify-content: center;
}